<!DOCTYPE html>
<html>
<head>
    <title>{{ product.name }}</title>
</head>
<body class="container mt-5">
    {% extends "store/base.html" %}
    {% block content %}
        <h1>{{ product.name }}</h1>
        <img src="{{ product.image }}" width="300">

        <p class="mt-3">{{ product.description }}</p>
        <h3>${{ product.price }}</h3>

        <a href="/" class="btn btn-secondary">Back</a>

        <a href="/add/{{ product.id }}/" class="btn btn-success">Add to Cart</a>
    {% endblock %}
</body>
</html>